<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间与映射接口的全类名一致 -->
<mapper namespace="com.yc.ccs.mapper.UserMapper">
	<update id="updateUser" parameterType="User">
		update t_admin set password=#{password} where username=#{username}
	</update>
</mapper>
